
/* Big tablet 0 to 480px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {
        padding: 0 2%;
    }
}




/* Ipad */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 20px;}
    .steps-box:last-child { margin-top: 20px;}
    .works-steps { margin-bottom: 40px; }
    .works-steps:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 20px;
        margin-right: 2px;
    }
    
    .city-feature { font-size: 85%; }
    
    .plan-box { 
        width: 100%;
        margin-left: 0;
    }
    .plan-price { font-size: 250%; }
    
    .contact-form { width: 90%; }
    
    .footer-nav { font-size: 90%; }
}



/* Small phones and tablets less than 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    
    .col { 
        width: 100%;
        margin: 0 0 4% 0%;
    }
    
    .main-nav { display: none; }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .steps-box:first-child { text-align: center;}
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
    
    .app-screen { width: 40%; }
    
}



/* Small phone 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
}




